<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	<title>Cyberpunk.WeatherApp | {% block title %}{% endblock %}</title>
		<meta name="description" content="a simple weather api app"/>
		<meta name="author" content="Andy Delso"/>
		<meta name="copyright" content="n/a"/>
    	<link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet" media="screen">	
    </head>
	
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
